* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2 {
    color: #e41515;
    background-color: #fad325;
    font-weight: bold;
    padding: 7px;
    text-align: center;
}

p, li {
    color: #ffa500;
}

li {
    padding-top: 10px;
}

a, .land-text {
    font-size: large;
}

a {
    text-decoration: none;
    color: #f83636;
}

button {
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
}

button a {
    font-weight: bold;
}

.main_button {
    margin: 1px 0;
}

#image {
    height: 300px;
    width: auto;
    padding-left: 220px;
}

.main_container {
    width: 750px;
    margin: 30px auto;
}

.secondary_container {
    width: 900px;
    margin: 30px auto;
}

.content {
    width: 725px;
    margin: 0 auto;
}